<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>{{.StyleCSS}}</style>
<style>{{.Xterm256CSS}}</style>
<style>{{.PaletteCSS}}</style>
</head>
<body>
{{.Body}}
<script src="/_/app.js"></script>
</body>
</html>
